/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
:root{
    --hover-color:#f3c969;
    --background-color:#1d1d23;
}
/* this contains all the styles and fonts inported  */
/* this has the sizing and font and color layout for the page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
    color: #e58f00;
}
/* the font size uses 65% of the screen and the scroll behavior is set to smooth to allow easy movement */
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
/* this contains my background color, position fixed so it stays in place even if moved */
.header{
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
    background: rgb(29,29,35);
    background: linear-gradient(90deg, rgba(29,29,35,1) 0%, rgba(58,80,107,1) 35%, rgba(58,80,107,1) 100%);
    
}
/* this holds the size of the img at 60px */
.logo img{
    width: 60px;
}
/* this controled the navbar the size, color and postioning of buttons */
.navbar a{
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}
/* adds the root hovor feature to contact botton that changes its color */
.navbar a:hover{
    color: var(--hover-color);
}
/* control the icon bottons for the navbar */
.contactBotton div i{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
/* this allows the hover to activate when using the pointer */
.contactBotton div:hover{
    cursor: pointer;
}
/* this is the outline of the box on the contact botton when using the pointer */
.contactBotton a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
/* this changes the appearance of a button when hovered */
.contact-btn:hover{
    transform: scale(1.1);
    background: var(--hover-color);
    border: 1px solid white;
}


/* design for home section */
/* this controls the background img placement, and size */
.home{
    padding: 1rem 7%;
    background: url(img/background.jpg);
    min-height: 100vh;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* this controls the hero img, and its fitted on the page */
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 150px;
    padding-left: 4rem;
    padding-right: 4rem;
}
/* this styles the text on the first page which is on the html */
.home-inner-content{
    flex: 1 1 45rem;
}
/* this targets the img size and positioning */
.home-image{
    width: 100%;
    height: 100%;
    position: relative;
    
}
/* this allowed me to add animations to my home img*/
.home-image img{
    width: 100%;
    position: absolute;
    transform: translate(0%, -40%);
    animation: mymove 5s infinite ease-in-out;
}
/* controls the movement of the hover animation */
@keyframes mymove {
    0%   {top: 0px;}
    50%   {top: 15px;}
    75%   {top: 10px;}
    100%   {top: 0px;}
  }
  /* this controls the padding */
.home-text-content{
    padding: 0 8rem;
}
/* this changes the H1 color and adds a different font */
.home-text-content h1{
    font-size: 45px;
    color: #f3c969;
}
/* this changes the P color and adds a different font */
.home-text-content p{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 25px;
}
/* contact us box, allows us to set the borders, size font to style the box */
.home-text-content a{ 
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
   transition: 0.5s;
   display: inline-block;
}
/* controls the hover effect and the background */
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--hover-color);
    border: 1px solid white;
}

/* this targets the width and background of the our menu page */
.menuSection{
    padding: 2rem 7%;
    /* background-color: var(--background-color); */
    background: rgb(29,29,35);
background: linear-gradient(90deg, rgba(29,29,35,1) 0%, rgba(58,80,107,1) 35%, rgba(58,80,107,1) 100%);
}
.menuSection h1{
    color: var(--hover-color);
    font-size: 45px;
    text-align: center;
    padding: 0.5rem 0;
}
.mainMenu{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.menuContainer{
    flex: 1 1 300px;
}
/* this is where i added the matrix 3d and its size for the background */
.menuItem{
    width:100%;
    background-color: #4b1d06;
    border-radius: 25px;
    transform: rotateX(-20deg) translateZ(-50px);
}
.menuItem img{
    width: 100%;
}

.foodInfo{
    padding: 2rem 2rem;
}
.foodInfo h2{
    color: var(--hover-color);
    font-size: 30px;
}
.foodInfo p{
    color:white;
    font-size:18px;
    margin: 2rem 0;
}
.foodInfo p span{
    color: #e58f00;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.foodInfo p:hover span{
    border: 1px solid white;
    background: var(--hover-color);
    color: white;
    transform: scale(1.1);
}
.before{
    background-color: #1d1d23;
    padding: 2rem 0;
}
.before{
    width: 100%;
}
.before img{

    width: 100%;
    object-fit: cover;
}

.footer{
    background: #1d1d23;
    padding: 6rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-footer img{
    width: 200px;
}
.footer-navbar{
    margin-top: 15px;
}
.footer-navbar a{
    color: #e58f00;
    font-size: 18px;
    margin: 1rem;
    padding: 1rem;
}
/* this is my clippy, which changes the size and look of my imgs */
/* .imgShape{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #1d1d23;
    display: flex;
}
.leftSideContactForm{
    flex-basis: 60%;
    padding: 40px 60px;
}
.rightSideContactForm{
    flex-basis: 40%;
    padding: 40px;
    background: #1c00b5;
    color: #1d1d23;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #f3c969;
}
button{
    background:#f3c969;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.leftSideContactForm h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}
.rightSideContactForm h3{
    
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: #1d1d23;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: #1d1d23;
    display: flex;
}
.leftSideContactForm{
    flex-basis: 60%;
    padding: 40px 60px;
}
.rightSideContactForm{
    flex-basis: 40%;
    padding: 40px;
    background: rgb(4 4 61 / 59%);
    box-shadow: 0 8px 32px 0 rgb(14 18 73 / 37%);
    backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color:#f3c969;
}
button{
    background:#f3c969;
    width: 100px;
    border: none;
    outline: none;
    color: #1d1d23;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.leftSideContactForm h3{
    color: #f3c969;
    font-weight: 600;
    margin-bottom: 30px;
}
.rightSideContactForm h3{
    
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
/* Mobile Styles */
@media only screen and (max-width: 600px) and (max-height: 767px) {
    html {
      font-size: 50%;
    }
    .header {
      padding: 1rem 4%;
    }
    .logo img {
      width: 50px;
    }
    .navbar {
        font-size: 1.3rem
    }
    .contactBotton div i {
      display: inline;
    }
    .contactBotton a {
      display: none;
    }
    .home-inner-content h1 {
      font-size: 35px;
    }
    .home-text-content {
      padding: 0 1.5rem;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 600px) and (max-width: 1023px) and (min-height: 768px) and (max-height: 1023px) {
    html {
      font-size: 55%;
    }
    .header {
      padding: 1rem 5%;
    }
    .logo img {
      width: 55px;
    }
    .navbar a {
      font-size: 1.3rem;
    }
    .home-inner-content h1 {
      font-size: 40px;
    }
    .home-text-content {
      padding: 0 3rem;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 1024px) and (min-height: 1024px) {
    html {
      font-size: 65%;
    }
    .header {
      padding: 1rem 7%;
    }
    .logo img {
      width: 60px;
    }
    .navbar a {
      font-size: 1.5rem;
    }
    .home-inner-content h1 {
      font-size: 45px;
    }
    .home-text-content {
      padding: 0 8rem;
    }
  } 
  